<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../css/cadastro/register.css">
</head>
<body>
  <div class="login1">
    <div class="riot">
      <div class="name2">
            <h1>Informação alterada com sucesso!!</h1>
            <img src="img/IMG/ok.png">
     </div>
     </div>
    <a href="http://localhost:5500/signed">Voltar para a pagina inicial</a>
    <br>
    <a href="http://localhost:5500/signed/alterdata">Alterar mais informações</a>
   
   </div>
   <div class="background">
   </div>
</body>
</html>
