<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>LIGA DOS CRIA</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />


 

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
  <!-- ======= Header =======
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
          <form action="/logout" method="get">
            <li><a href="/logout">Logout</a></li>
            <li><a href="http://localhost:5500/signed/alterdata">alterar informaçoes cadastrais</a></li>
          </form>
  </header>
  End Header -->

  <!-- ======= Hero Section ======= -->

  <!-- <main id="main">
     <section id="facts"> --> 
      
      <body>
      
          <header class="menu-nav">
              <ul>
                  <li  class="button-play-wrapper" >
                      <img src="img/IMG/play-button-shape.jpg" class="play-button-shape">
                      <img  src="img/IMG/play-button-click-area.png" class="play-button-click-area">
                      <span class="play-button-text">Play</span>
                  </li>
              </ul>
              <div class="botoes">
                  <table>
                      <tr>
                          <a href="#">ÍNICIO</a>
                      </tr>
                      <tr>
                          <a href="#">TFT</a>
                      </tr>
                      <tr>
                          <a href="#">CLASH</a>
                      </tr>
                      <tr>
                      <form action="/logout" method="get">
                        <a href="/logout">Logout</a></li>
                       <a href="http://localhost:5500/signed/alterdata">alterar informaçoes cadastrais</a></li>
                      </form>
                      </tr>
                  </table>
              </div>
              
              <div class="botoes2">
                  <ul>
                      <li>
                          <a href="#"><img src="img/IMG/profile.png"></a>
                          <a href="#"><img src="img/IMG/collection.png"></a>
                          <a href="#"><img src="img/IMG/booty.png"></a>
                          <a href="#"><img src="img/IMG/shop.png"></a>
                      
                          <a href="#"><img src="img/IMG/divider.png"></a>
                      </li>
                  </ul>
      
              </div>
              <div class="money">
                  <ul>
                      <li>
                          <a class="riot"><img src="img/IMG/riot-points.png"></a>
                          <a>320</a>
                      </li>
                      <li>
                          <a class="blue"><img src="img/IMG/blue-essence.png"></a>
                          <a>300</a>
                      </li>
                  </ul>
              </div>
            <div class="perfil">
                <div>
                    <ul>
                        <li routerlink="play" class="avatar" tabindex="0">
                            <img src="img/IMG/avatar-icon.png" class="avatar-xp">
                            <span class="level">328</span>
                        </li>
                    </ul>
                </div>
                <div class="name-status">
                    <ul>
                        <li>
                            <span class="nickname">
                                <%= usuario.name %>
                            </span>
                        </li>
                        <li class="status">
                            <span>1/5 Normal Alternada</span>
                        </li>
                    </ul>
                </div>
            </div>
          </header>
          <main class="start-content">
              <div class="modo-partida">
                  <li>
                      <img class="sr-img" src="img/IMG/sr-hover.png">
                      <span class="ranked">RANKEADA SOLO/DUO</span>
                      <span class="draft">DRAFT</span>
                      <span class="summoners">SUMMONER'S RIFT 5V5</span>
                  </li>
              </div>
              <div>
                  <div class="name-banner">
                      <img src="img/IMG/coroa.png">
                      <span><%= usuario.name %></span>
                  </div>
                  <div class="first-banner">
                      <img  src="img/IMG/banner.png">
                      <button class="invite-friend">+</button>
                  </div>
                  <div class="second-banner">
                      <img  src="img/IMG/banner.png">
                      <button class="invite-friend">+</button>
                  </div>
                  <div class="player-banner">
      
                      <img  src="img/IMG/banner.png">
                      <img class="border-play"  src="img/IMG/border1.png">
                      <span class="level-banner">328</span>
                      <img class="botao" src="img/IMG/botao.png">
                      </div>
                  <div class="forth-banner">
                      <img  src="img/IMG/banner.png">
                      <button class="invite-friend">+</button>
                  </div>
                  <div class="fiveth-banner">
                      <img  src="img/IMG/banner.png">
                      <button class="invite-friend">+</button>
                  </div>
              </div>
              <div>
                  <ul>
                      <li class="play-button" >
                          <img src="img/IMG/cancel-button.png" class="cancel-button">
                          <img src="img/IMG/game-play-button.png" class="game-play-button">
                          <span class="game-play-text">Play</span>
                      </li>
                  </ul>
              </div>
           </div>
          </main>
          <aside class="friends-aside">
            <div class="options-friends">
                <div class="social">
                <span>social</span>
                </div>
                <div class="icons">
                <span class="material-symbols-outlined">
                    group_add
                </span>
                <span class="material-symbols-outlined">
                    note_add
                </span>
                <span class="material-symbols-outlined">
                    list
                </span>
                <span class="material-symbols-outlined">
                    search
                </span>
                </div>
            </div>
              <div class="friends">
                  <ul>
                      <li>
                        <img src="img/IMG/profilepic10.png" alt="" class="img"/>
                        <span class="friend">jefersondarodela</span>
                        <span class="status1">em partida</span>
                      </li>
                      <li>
                        <img src="img/IMG/profilepic3.png" alt="" class="img" />
                        <span class="friend">mortalKyler</span>
                        <span class="status1">em partida</span>
                      </li>
                      <li>
                        <img src="img/IMG/profilepic1.png" alt="" class="img" />
                        <span class="friend">TIC TOM DOM</span>
                        <span class="status2">online</span>
                      </li>
                      <li>
                        <img src="img/IMG/profilepic2.png" alt="" class="img"/>
                        <span class="friend">gabriel norcia</span>
                        <span class="status2">online</span>
                      </li>
                      <li>
                        <img src="img/IMG/profilepic4.png" alt="" class="img"/>
                        <span class="friend">EHH O MARRETA</span>
                        <span class="status2">online</span>
                      </li>
                      <li>
                        <img src="img/IMG/profilepic5.png" alt="" class="img"/>
                        <span class="friend">nome daora</span>
                        <span class="status3">ausente</span>
                      </li>
                      <li>
                        <img src="img/IMG/profilepic7.png" alt="" class="img"/>
                        <span class="friend">Only Tom</span>
                        <span class="status4">offline</span>
                      </li>
                      <li>
                        <img src="img/IMG/profilepic8.png" alt="" class="img"/>
                        <span class="friend">Vayne de Juliiet</span>
                        <span class="status4">offline</span>
                      </li>
                      <li>
                        <img src="img/IMG/profilepic9.png" alt="" class="img"/>
                        <span class="friend">aguaFria</span>
                        <span class="status4">offline</span>
                      </li>
                      <li>
                        <img src="img/IMG/profilepic9.png" alt="" class="img"/>
                        <span class="friend">Coquinha Gelada</span>
                        <span class="status4">offline</span>
                      </li>
                      <li>
                        <img src="img/IMG/profilepic7.png" alt="" class="img"/>
                        <span class="friend">IDexter</span>
                        <span class="status4">offline</span>
                      </li>
                      <li>
                        <img src="img/IMG/profilepic8.png" alt="" class="img"/>
                        <span class="friend">Eleecy</span>
                        <span class="status4">offline</span>
                      </li>
                  </ul>
              </div>
          </aside>

          <div class="resolution">
            <img src="img/IMG/amumu.png" alt="" />
            <h2>desculpa</h2>
            <h2>Liga dos cria nao funciona nesta resolução</h2>
          </div>
</body>

</html>