<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/recsenha/recsenha.css">
</head>
<body>
  <div class="login">
    <div class="riot">
            <img src="img/rito Gomes.jpg" alt="" />
            <div class="name">
                <h2>RITO </h2>
                <h2>GOMES</h2>
            </div>
    </div>
    <form action="/recsenha_1" method="post">
        <h1 class="register">Recuperação de senha</h1>
        <input type="text" name="email" placeholder="email" id="email" required/>
        <input type="tel" name="wpp" placeholder="Whatssapp" class="register-input" required />
        <input type="submit" class="submit" value="recuperar senha" />
        </form>
    <a href="http://localhost:5500/login">Já possuo cadastro</a>
   </div>
   <div class="background">
    <!-- <img src="img/background.jpg" alt="background image"/> -->
   </div>
</body>
</html>