<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/recsenha/recsenha.css">
</head>
<body>
  <div class="login">
    <div class="riot">
            <img src="img/rito Gomes.jpg" alt="" />
            <div class="name">
                <h2>RITO </h2>
                <h2>GOMES</h2>
            </div>
    </div>
    <form method="post" action="/recsenha_2">
        <h1 class="register">Recuperação de senha</h1>
        <input type="password" name="password" placeholder="Senha" class="register-input" required />
        <input type="submit" class="submit" value="recuperar senha" />
        </form>
   </div>
   <div class="background">
    <!-- <img src="img/background.jpg" alt="background image"/> -->
   </div>
</body>
</html>